{{template "header.html" .}}
<section class="section">
    <div class="container">
        <h1 class="title">
            Dashboard
        </h1>

        <div class="columns">
            <div class="column is-one-third">{{template "menu.html" .}}</div>
            <div class="column is-two-thirds">
                <p  style="background-color: whitesmoke; padding: 10px;">
                    {{.content}}
                </p>

                {{range .rooms}}
                    <div id="chat{{.}}" action-over="{{.}}" class="row chatbox" style="display: {{if eq . 1 }}block{{else}}none{{end}}">
                        <p  style="background-color: whitesmoke; padding: 10px;">
                            Chat {{.}}
                        </p>
                        <ul id="messages{{.}}"></ul>
                        <form id="chatbox{{.}}">
                            <textarea></textarea>
                            <input type="submit" value="Send" />
                        </form>
                    </div>
                {{end}}
            </div>

        </div>
    </div>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(function(){

        let boxes = document.querySelectorAll(".chatbox");
        boxes.forEach(box => {
            console.log(box.textContent)
            let chatID = box.getAttribute("action-over")

            var socket = null;
            var msgBox = $("#chatbox" + chatID + " textarea");
            var messages = $("#messages" + chatID);

            $("#chatbox"+chatID).submit(function(){

                if (!msgBox.val()) return false;
                if (!socket) {
                    alert("Error: There is no socket connection.");
                    return false;
                }

                socket.send(msgBox.val());
                msgBox.val("");
                return false;

            });

            if (!window["WebSocket"]) {
                alert("Error: Your browser does not support web sockets.")
            } else {
                socket = new WebSocket("ws://localhost:8080/room/"+chatID);
                socket.onclose = function() {
                    alert("Connection has been closed.");
                }
                socket.onmessage = function(e) {
                    messages.append($("<li>").text(e.data));
                }
            }
        });
    });

</script>

{{template "footer.html"}}