{{define "menu.html"}}
<aside class="menu" style="background-color: whitesmoke ;padding: 10px;">
    <p class="menu-label">
        {{.user}}'s chats available
    </p>
    <ul class="menu-list is-hoverable">
        {{range .rooms}}
            <li action-over="{{.}}" class="is-hoverable chat-btn"><a>Chat {{.}}</a></li>
        {{end}}
    </ul>
</aside>
<script>
        let btns = document.querySelectorAll(".chat-btn");
        btns.forEach(btn => {
            btn.addEventListener("click", () => {
                let chatID = btn.getAttribute("action-over")
                let chatbox = document.getElementById("chat"+chatID)

                let boxes = document.querySelectorAll(".chatbox");
                boxes.forEach(box => {
                    box.style.display = "none"
                });
                chatbox.style.display = "block";

                console.log("Hiciste click en: " + btn.textContent);
            });
        });

</script>
{{end}}